@keyframes fadeForIn {
  0% { 
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeForOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fadeBackIn {
  0% { 
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeBackOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

html, body{
  height: 100%;
  background-color: #f5f5f5;
}

body{
  display: flex;
  flex-direction: column;
}

h1{
  display: block;
  color: #949494;
  padding: 20px;
  margin: 0px;
  font-size: 26px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dadada;
  text-align: center;
}

form{
  position: relative;
  display: flex;
  height: fit-content;
}

h2{
  flex-basis: 100%;
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  margin: 0px 20px;
  align-self: center;
}

form > div:nth-of-type(19){
  opacity: 1;
  display: flex;
}

form > div{
  opacity: 0;
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .5);
}

form > div > div:first-of-type{
  display: flex;
  height: fit-content;
  flex-basis: 100%;
  justify-content: center;
  align-content: center;
  padding: 20px;
  border-bottom: 1px solid #c0c0c0;
}

.navBack{
  display: block;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
  align-self: center;
  cursor: pointer;
}

.navBack svg{
  width: 100%;
  margin: auto;
}

.navFor{
  display: block;
  visibility: hidden;
  height: 40px;
  width: 40px;
  margin-left: auto;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
  align-self: center;
  cursor: pointer;
}

.navFor svg{
  width: 100%;
  margin: auto;
  transform: rotate(180deg);
}

.submit{
  display: block;
  height: 40px;
  width: 80px;
  margin-left: auto;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
  align-self: center;
  cursor: pointer;
  color: #00aeef;
}

form > div > div:nth-of-type(2){
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  padding: 30px;
  height: fit-content;
}

form > div > div:nth-of-type(2) > div{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  align-content: center;
  height: fit-content;
}

form > div > div:nth-of-type(2) > div:nth-of-type(1){
  flex-grow: 1;
}

label{
  color: #00aeef;
  display: block;
  padding: 10px
}

form > div > div:nth-of-type(2) > h3{
  font-size: 35px;
  color: #00749e;
}

form > div > div:nth-of-type(2) > div > p:nth-of-type(1){
  flex-grow: 1;
  margin: 0px 30px;
  color: #00749e;
  font-size: 25px;
}

form > div > div:nth-of-type(2) > div > p:nth-of-type(2){
  margin: 0px 30px;
  color: #00749e;
  font-size: 25px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] ~ span {
  display: block;
  background-image: linear-gradient(#fdfdfd, #d8d0ce);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  transition: all 200ms;
  box-shadow: 1px 1px 10px 0px black;
  cursor: pointer;
}

input[type="radio"]:checked ~ span{
  box-shadow: 1px 1px 20px 0px black;
}

input[type="radio"] ~ span > span{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ece8e7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  margin: 10px;
  color: #00aeef;
}

input[type="radio"]:checked ~ span > span{
  background-image: linear-gradient(#357c55, #52BE80);
  color: white;
}

input[type="radio"]:checked ~ span > span path, input[type="radio"]:checked ~ span > span text{
  fill: white;
}

svg{
  width: 70%;
  margin-bottom: 10px;
}

path, text{
  fill: #00aeef;
}

input[type=range]{
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  padding: 30px;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  margin-top: -20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #0088b9;
}

input[type=range]::-webkit-slider-runnable-track{
  height: 10px;
  width: 100%;
  background: #00aeef;
  border-radius: 3px;
}

select{
  background-color: #00aeef;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 18px;
  text-indent: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
}

input[type=number]{
  background-color: #00aeef;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 18px;
  text-indent: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
}

input[type=text]{
  background-color: #00aeef;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 18px;
  text-indent: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
}

input[type=tel]{
  background-color: #00aeef;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 18px;
  text-indent: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
}

input[type=email]{
  background-color: #00aeef;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  font-size: 18px;
  text-indent: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .5);
}

